@font-face {
    font-family: 'major_mono_displayregular';
    src: url('majormonodisplay-regular-webfont.woff2') format('woff2'),
         url('majormonodisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#title{
    size: 50cm;
    color: dodgerblue;
    font-weight: 900;
    text-align: center;
    font-family: major_mono_displayregular, monospace;
}

#subtitle{
    font-weight: 100;
    text-align: center;
    color: azure;
}

nav{
    size: 8cm;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

article{
    size: 11cm;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

strong{
    size: 11cm;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    size: 30cm
    font-family: major_mono_displayregular, Monospace;
    color: dodgerblue;
    text-align: center;
}

h3{
    size: 20cm;
    color: rgb(77, 77, 77);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url("newseventsimage_1537198485721_mainnews2012_x1.jpg");
}

body{
    background-image: url("./noisy-texture-200x100-o12-d20-c-141414-t0.png");
}

article{
    background-color: white;
}

ul{
    list-style-type: square;
}
#nav{
    list-style-type: none;
}
a:hover{
    color: dodgerblue;
}
a:visited{
    color: white;
}
a:link{
    color: white;
}
footer{
    color: white;
    background-color: rgb(0, 30, 59);
}