<!DOCTYPE html>
<html>
    <head>
        <title>ChemistryJs</title>
        <link rel="stylesheet" href="../../general.style.css">
    </head>
    <body>
        <header>
                <h1 id="title">Chemistry Js</h1>
                <div id="subtitle">The all-in-one software for compounds analysis</div>
        </header>
        <nav>
            <ul>
                <li><a href="../../home.html">home page</a> </li>
                <li><a href="../classificator/classificato.page.html">Classificator</a></li>
                <li><a href="../equilibrium/equilibrium.page.html">Equilibrium</a></li>
            </ul>
        </nav>
        <article>
            <strong>ERROR 404: Page Not Found</strong>
            The page you are looking for is not available at the moment, it has been relocated or does not exist.<br>
        </article>
    </body>
</html>