<!DOCTYPE html>
<html>
    <head>
        <title>ChemistryJs</title>
        <link rel="stylesheet" href="../../general.style.css">
    </head>
    <body>
        <header>
                <h1 id="title">Chemistry Js</h1>
                <div id="subtitle">The all-in-one software for compounds analysis</div>
        </header>
        <nav>
            <ul>
                <li><a href="../../home.html">home page</a> </li>
                <li><a href="../biochemistry/biochemistry.page.html">Biochemistry: IUPAC name generator</a></li>
                <li><a href="./equilibrium.page.html">Equilibrium</a></li>
            </ul>
        </nav>
        <article>
            <div>
                <h2>Biomolecule name generator</h2>
                This tool will generate the IUPAC name of the biomolecule given the number of carbons on the main chain and side chain, the position of the sidechain, any halogen element,
                the functional group and its position, if there are any benzene and if the molecule is ciclic or not.
                <hr>
                <h4>Main carbon chain</h4>
                Number of carbons <strong>Insert only the number of carbons in the main chain!</strong>: <input id="nOfC" type="number" value="0" placeholder="#"><br>
                Functional group: <select id="funGroup">
                    <option value="alkane">Alkane</option>
                    <option value="alkyne">Alkyne</option>
                    <option value="alkene">Alkene</option>
                    <option value="amine">Amine</option>
                    <option value="alcohol">Alcohol</option>
                    <option value="ketone">Ketone</option>
                    <option value="aldehyde">Aldehyde</option>
                    <option value="amide">Amide</option>
                    <option value="ester">Ester</option>
                    <option value="carboxylic acid">Carboxylic Acid</option>
                </select><br>
                Position functional group (number of carbon): <input id="funPos" type="number" placeholder="#" value="0"><br>
                Halogens (leave blank if none. Separate each element with a space): <input id="halo" type="text" placeholder="es: F Cl..."><br>
                Is ciclic? <select id="cyclo">
                    <option>No</option>
                    <option>Yes</option>
                </select><br> 
                <hr>
                <h4>Side carbon chain</h4>
                <strong>Work in progress</strong>
                <!--<button id="addSide" type="button">Add side chain</button>-->
                <div id="sidechain"></div>
            </div>
            <button id="submit" type="button">Generate name!</button>
            <div id="resoult"></div>
        </article>
        <script src="./biochemistry.data.js"></script>
    </body>
</html>